<h1 class="banner">Answer</h1>

<!-- <form action="/ask" method="post">
<input type="text" name="question" placeholder="what's your question?">
<input type="submit">
</form> -->
<%= @answer %>


<%= link_to "Ask a new question", ask_path, class:
'qbutton' %>





