<h1 class="banner">Stupid Coaching</h1>

<div class="question">
  <p> Ask your coach anything:</p>
</div>

<div class="answer">
<form action="/answer" method="get">
  <input id="qbox" type="text" name="question">
  <input id="link" class="button" type="submit" value="Ask!">
</form>
</div>

